USE [Registration]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SourceID] [int] NOT NULL,
	[SSN] [varchar](11) NULL,
	[NetID] [varchar](15) NULL,
	[CESID] [varchar](9) NULL,
	[BYUID] [varchar](9) NULL,
	[INumber] [varchar](9) NULL,
	[Username] [varchar](32) NULL,
	[Email] [varchar](50) NULL,
	[DisplayName] [varchar](300) NULL,
	[FullName] [varchar](300) NULL,
	[LastName] [varchar](50) NULL,
	[PreferredName] [varchar](42) NULL,
	[GivenName] [varchar](32) NULL,
	[Suffix] [varchar](10) NULL,
	[PreviousName] [varchar](42) NULL,
	[PreviousNameEndDate] [datetime] NULL,
	[PreviousPreferredName] [varchar](42) NULL,
	[PreviousPreferredEndDate] [datetime] NULL,
	[Picture] [varbinary](max) NULL,
	[Age] [smallint] NULL,
	[BirthDate] [date] NULL,
	[Deceased] [bit] NULL,
	[Gender] [varchar](10) NULL,
	[Ethnicity] [varchar](24) NULL,
	[Citizenship] [varchar](24) NULL,
	[CitizenshipCountry] [varchar](25) NULL,
	[Religion] [varchar](24) NULL,
	[MaritalStatus] [varchar](24) NULL,
	[Handicap] [varchar](24) NULL,
	[Veteran] [bit] NULL,
	[Employee] [varchar](30) NULL,
	[Privacy] [varchar](24) NULL,
	[ServedMission] [bit] NULL,
	[Address] [varchar](400) NULL,
	[Street] [varchar](400) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](10) NULL,
	[Country] [varchar](25) NULL,
	[Phone] [varchar](12) NULL,
	[CorrectAddress] [bit] NULL,
	[HomeUnitID] [int] NULL,
	[HomeUnit] [varchar](100) NULL,
	[LocalUnitID] [int] NULL,
	[LocalUnit] [varchar](100) NULL,
	[MissionUnitNumber] [int] NULL,
	[Mission] [varchar](100) NULL,
	[MissionCountry] [varchar](40) NULL,
	[MissionLanguage] [varchar](50) NULL,
	[MissionEnterDate] [date] NULL,
	[MissionReleaseDate] [date] NULL,
	[HomeStake] [varchar](100) NULL,
	[LocalStake] [varchar](100) NULL,
	[StateName] [varchar](20) NULL,
	[USState] [bit] NULL,
	[PathwayID] [varchar](15) NULL,
	[HomeAreaID] [int] NULL,
	[HomeArea] [varchar](100) NULL,
	[PathwaySite] [varchar](50) NULL,
	[PathwaySiteZone] [varchar](50) NULL,
	[PathwaySiteArea] [varchar](50) NULL,
	[PathwaySiteCountry] [varchar](100) NULL,
	[PathwaySiteGeoPoliticalName] [varchar](500) NULL,
	[VisaCode] [varchar](5) NULL,
	[VisaDescription] [varchar](100) NULL,
	[PathwayGatheringLocationID] [int] NULL,
	[OnlineAdmissionArea] [varchar](100) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX [IX_Person_MissionEnterDate_MissionReleaseDate] ON [dbo].[Person]
(
	[MissionEnterDate] ASC,
	[MissionReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Person]  WITH NOCHECK ADD  CONSTRAINT [FK_Person_PathwayGatheringLocation] FOREIGN KEY([PathwayGatheringLocationID])
REFERENCES [dbo].[PathwayGatheringLocation] ([PathwayGatheringLocationID])
GO
ALTER TABLE [dbo].[Person] NOCHECK CONSTRAINT [FK_Person_PathwayGatheringLocation]
GO
SET ANSI_PADDING ON

GO
CREATE NONCLUSTERED COLUMNSTORE INDEX [CX_Person] ON [dbo].[Person]
(
	[PersonID],
	[SourceID],
	[SSN],
	[NetID],
	[CESID],
	[BYUID],
	[INumber],
	[Username],
	[Email],
	[DisplayName],
	[FullName],
	[LastName],
	[PreferredName],
	[GivenName],
	[Suffix],
	[PreviousName],
	[PreviousNameEndDate],
	[PreviousPreferredName],
	[PreviousPreferredEndDate],
	[Age],
	[BirthDate],
	[Deceased],
	[Gender],
	[Ethnicity],
	[Citizenship],
	[CitizenshipCountry],
	[Religion],
	[MaritalStatus],
	[Handicap],
	[Veteran],
	[Employee],
	[Privacy],
	[ServedMission],
	[Address],
	[Street],
	[City],
	[State],
	[Zip],
	[Country],
	[Phone],
	[CorrectAddress],
	[HomeUnitID],
	[HomeUnit],
	[LocalUnitID],
	[LocalUnit],
	[MissionUnitNumber],
	[Mission],
	[MissionCountry],
	[MissionLanguage],
	[MissionEnterDate],
	[MissionReleaseDate],
	[HomeStake],
	[LocalStake],
	[StateName],
	[USState],
	[PathwayID],
	[HomeAreaID],
	[HomeArea],
	[PathwaySite],
	[PathwaySiteZone],
	[PathwaySiteArea],
	[PathwaySiteCountry],
	[PathwaySiteGeoPoliticalName],
	[VisaCode],
	[VisaDescription],
	[PathwayGatheringLocationID]
)WITH (DROP_EXISTING = OFF) ON [PRIMARY]
GO
